header {
    background-color: #ffffff;
    padding: 16px 120px;
    max-width: 1600px;
}


header nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

header nav button {
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}