header {
    background-color: #ffffff;
    padding: 16px 120px;
    max-width: 1600px;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

header nav button {
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.hero {
    width: 100%;
    height: 674px; 
    background-image: url('assets/hero-bg.png'); 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.dot-container {
    position: relative;
    width: 16px; 
    height: 16px; 
}

.dot1, .dot2, .dot3 {
    background-color: #30B868;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.dot1 {
    width: 6px;
    height: 6px;
    z-index: 3; 
}

.dot2 {
    width: 12px;
    height: 12px;
    opacity: 0.4;
    z-index: 2;
}

.dot3 {
    width: 16px;
    height: 16px;
    opacity: 0.2;
    z-index: 1;
}
.hero-badge {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
    border-radius: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
}

.hero div{
    margin: 0;
    text-align: center;
    color: #30B868;
}

.btn-primary{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-secondary{
    border: solid 1px #ffffff;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.container {
          
            width: 100%;
            text-align: center;
        }

        .header {
            margin-bottom: 60px;
        }

        .header h1 {
            font-size: 42px;
            font-weight: 800;
            color: #021128;
            margin-bottom: 16px;
            letter-spacing: -1px;
        }

        .header p {
            font-size: 18px;
            color: #64748b;
            font-weight: 400;
        }

        .grid {
           display: flex;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
         
            justify-content: center;
        }

        .card {
            background: #fff;
            border: 1px solid #f1f5f9;
            border-radius: 12px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        }

        .icon-circle {
            width: 60px;
            height: 60px;
            background-color: #F95555;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
        }

        .icon-circle img {
            width: 28px;
            height: auto;
            display: block;
        }

        .card h3 {
            font-size: 20px;
            font-weight: 700;
            color: #0f172a;
            margin-bottom: 12px;
        }

        .card p {
            font-size: 15px;
            color: #64748b;
            line-height: 1.5;
            max-width: 240px;
        }